.body {
  height: 100vh;
  width: 100vw;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
.App-header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list {
  display: flex;
  list-style: none;
}
.list-item {
  padding-right: 50px;
}
.link {
  text-decoration: none;
  color: burlywood;
}
